<link rel="stylesheet" type="text/css" href="certificate/certificate_details/certificate.css">

<script type="text/javascript">
  $(function(){
    $('.ajax-cmd').ajax_cmd();
  });

  $.fn.ajax_cmd = function(){
    return this.each(function() {
      var path = $(this).attr('href');
      var redirect = $(this).data('redirect')
      $(this).click(function(e){
        e.preventDefault();
        $.ajax({
          type: 'POST',
          url: path,
          cache: false
        });
        if (redirect) {
          document.location = redirect;
        }
      });
    });
  };
</script>

<h4>Certificate updated</h4>
<p>The related certificates have been successfully changed. <%= restart_msg %></p>
<a href="<%= url "/certificate" %>" class='btn'>Done</a>
<% if restart_app %>
<a href="<%= "system/application-restart/#{restart_app}" %>" data-redirect="<%= url "/certificate" %>" class="ajax-cmd btn">Restart Now</a>
<% end %>
